.header-container {
  z-index: 99;
  position: fixed;
  padding: 3.5rem 0;
  width: 100%;

  display: flex;
  justify-content: center;

  background: transparent;
  border-bottom: 1px solid transparent;

  transition: all 50ms ease;

  &[data-background="glass"] {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-color: rgba(0, 0, 0, 0.8);
  }

  & > div {
    padding: 0 1rem;
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-actions-list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    gap: 4rem;

    & > li a:hover {
      opacity: 0.6;
    }
  }

  .sandwich-menu-button {
    display: none;
    flex-direction: column;
    gap: 1rem;
    
    position: relative;
    cursor: pointer;
    
    width: 3rem;
    height: 3rem;

    > div {
      width: 100%;
      height: 1rem;
      background: var(--white-color);
      transition: all 200ms ease;
    }

    &.open {
      > div {
        height: 0.3rem;
      }

      div:first-child {
        position: absolute;
        top: 50%;
        transform: rotateZ(45deg);
      }

      div:nth-child(2) {
        position: absolute;
        top: 50%;
        transform: rotateZ(-45deg);
      }

      div:last-child {
        display: none;
      }
    }
  }
}

.header-sandwich-actions-list {
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 2.4rem;
  gap: 4rem;

  & > li a:hover {
    opacity: 0.6;
  }
}

@media screen and (max-width: 860px) {
  .header-container {
    .header-actions-list {
      display: none;
    }

    .sandwich-menu-button {
      display: flex;
    }
  }
}
