.button-container {
  border-radius: 3.5rem;
  background: var(--tertiary-color);
  border: none;
  padding: 1.6rem 3.2rem;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
