.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10rem;

  h2 {
    font-size: 4rem;
    color: var(--tertiary-color);
  }

  .services-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;  
    justify-content: space-evenly;
  }
}


@media screen and (max-width: 960px) {
  .services-container {
    .services-list {
      justify-content: space-around;
    }
  }
}