.presentation-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 75vh;
}

.presentation-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(248deg, #dc1866 0%, #ff9226 100%) 0%
    0% no-repeat padding-box;
  z-index: -1;
}

.presentation-main {
  position: absolute;
  bottom: -3rem;
  display: flex;
  justify-content: space-evenly;
  gap: 10rem;
  width: 100%;
  padding: 0 1rem;
  max-width: var(--container-width);
}

.presentation-main section:first-child {
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.presentation-main section:first-child h1 {
  font-size: 3.6rem;
}

.presentation-main section:first-child button {
  margin-top: 3rem;
}

.presentation-main section:last-child {
  flex: 1;
}

@media only screen and (max-width: 1080px) {
  .presentation-main {
    max-width: 60%;
    flex-direction: column;
    gap: 5rem;
  }

  .presentation-main section:first-child {
    max-width: unset;
  }
}


@media only screen and (max-width: 560px) {
  .presentation-main {
    top: 50%;
    transform: translateY(-40%);
  }

  .presentation-main section:last-child {
    display: none;
  }
}